body {
  width: 100%;
  color: white;

  background-color: #1f1e1e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -8px;
  background-color: rgb(0, 0, 0);
  border-top: 6px solid rgb(0, 218, 76);
  padding: 0 2vw;
  color: white;
}

.logo-image {
  width: 100%;
  height: auto;
  max-width: 400px;
}

@media (max-width: 600px) {
  .logo-image {
    display: none;
  }
}

.btn {
  display: inline-block;
  background: rgb(11, 248, 42);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-singup {
  width: 15rem;
  background: rgb(255, 204, 0);
  color: rgb(7, 6, 6);

  font-size: large;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.welcome-unlogged {
  display: flex;
  border: 2px solid rgb(246, 217, 2);

  border-radius: 0.5em;
  max-width: 60%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------/
 ----CARD STYLING   --------------------/
---------------------------------------*/
.label {
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 90%;
  margin: 1rem;
  padding-bottom: 1rem;

  text-align: center;
  border: solid 2px #fcad02;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(217, 218, 182, 0.2);
}

.card a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #1c36fc;
  padding: 0.5rem;
  border-radius: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* 	Display two cards per row at 576px breakpoint */
@media (min-width: 576px) {
  .cards-container {
    /* 	Set the display for the outer container to flex */
    display: flex;
    display: inline-block;

    justify-content: space-around;
  }

  .card {
    /* 	Set the flex-basis so that two cards are displayed in each row. */
    flex-basis: calc(50% - 3rem);
  }
}

/* 	Display four cards across one row at 992px breakpoint */
@media (min-width: 992px) {
  .card {
    flex-basis: calc(25% - 3rem);
    padding-bottom: 1.5rem;
  }
}

.cardHeader {
  text-align: center;
}
